<div class="footer-section text-center" style="padding-left: 10%; padding-right: 10%;">
    <img src="/assets/images/footer-icon.png" alt="Icon" class="ignite-icon">
    <h6 class="footer-heading">C/O - Samp Innovations, LLC -<br> <span class="footar-text">20701 E 81st St S<br></span>, Suite S<br> Broken Arrow, <span class="footar-text">OK 74014</span></h6>
</div>
<div class="below-footer d-flex justify-content-between" >
    <div class="mt-9"><span>© 2024 Lyte. All right reserved.</span></div>
    <div><img src="/assets/images/below-footer.png" alt="linkdin"></div>
</div>