.row {
  --bs-gutter-x: 0 !important;
}
.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: #FFF;
  background-image: url("src/assets/images/banner-background.png");
  background-size: cover;
}
.banner-text {
  flex: 1;
  padding: 20px;
  padding-left: 10%;
}
.banner-text h1 {
  color: #171717;

  font-family: Urbanist;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 116.667px; /* 93.333% */
  letter-spacing: -3.75px;
}

.banner-text h1 .gray {
  color: gray;
}
.banner-text p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
}
.banner-text .btn {
  color: #fff;
  font-size: 12px;
  font-family: Urbanist;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 26.67px;
  word-wrap: break-word;
  letter-spacing: -0.72px;
  background: linear-gradient(
    94deg,
    #0c79ba 0%,
    #1f97c9 56%,
    #12b4da 100%
  ) !important;
  border-radius: 111.11px;
  border: 1.11px solid;
  text-align: center !important;
  padding: 8px 25px 8px 25px !important;
}
.banner-image {
  flex: 1;
  text-align: center;
  padding: 20px;
}
.banner-image img {
  max-width: 100%;
  height: auto;
}
.fintech-icon {
  vertical-align: middle;
  width: 60px;
  height: auto;
  margin-left: 10px;
}
/* Goal  Section*/

.goals-section {
  padding: 100px 10% 0 10%;
  background: linear-gradient(
      0deg,
      rgba(12, 121, 186, 0.02) 0%,
      rgba(12, 121, 186, 0.02) 100%
    ),
    #fff;
}

.goals-top-line {
  text-align: center;
  margin: 20px 0;
}
.goals-top-line span {
  background: rgba(12, 121, 186, 0.1);
  color: #0c79ba;
  padding: 18px 26px;
  font-size: 20px;
  font-weight: 600;
  line-height: 17.778px;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 66.667px;
}
.goals-heading {
  color: #171717;
  font-size: 54px;
  font-family: Urbanist;
  font-weight: 500;
  line-height: 76.67px;
  word-wrap: break-word;
  text-align: center;
  letter-spacing: -1.44px;
}
.goals-paragraph {
  color: rgba(23, 23, 23, 0.6);
  text-align: center;
  font-family: Urbanist;
  font-size: 24.444px;
  font-style: normal;
  font-weight: 500;
  line-height: 35.556px;
  letter-spacing: -0.489px;
}
.goal-box {
  margin-left: 10px !important;
  padding: 0;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
}
.goal-box img {
   max-width: 300.778px;
  max-height: 300.889px;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px 8px 0 0;
}
.goal-box h4 {
  padding-left: 50px;
  font-size: 20px;
  margin-bottom: 10px;
}
.goal-box p {
  padding-left: 60px;
  font-size: 14px;
  color: #555;
  text-align: center;
}
/* Offering Section */
.offering-section {
  /* padding: 0 10%; */
  justify-content: center;
  justify-items: center;
  padding: 0px 10% 0px 10%;
}

.heading {
  text-align: center;
  margin-top: 150px;
}

.heading h1 {
  font-size: 48px;
  color: black;
}

.heading h1 span {
  color: gray;
}

.heading p {
  color: rgba(23, 23, 23, 0.60);
  text-align: center;
  font-family: Urbanist;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 145.455% */
  letter-spacing: -0.44px;
}

.feature-box {
  padding: 44px 20px 20px 44px;
  /* margin: 5px 0; */
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(12, 121, 186, 0.02) 0%, rgba(12, 121, 186, 0.02) 100%), #FFF;
}

.feature-box .icon {
  margin-bottom: 10px;
  width: 75px;
}

.feature-box h3 {
  color: #171717;
  font-family: Urbanist;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px; /* 125% */
  letter-spacing: -1.08px;
}

.feature-box p {
  color: rgba(23, 23, 23, 0.50);
  font-family: Urbanist;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px; /* 150% */
  letter-spacing: -0.88px;
}

.feature-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: auto; /* Push the image to the bottom of the box */
}

/* content section */

.content {
  border-radius: 44.444px;
  background: linear-gradient(0deg, rgba(12, 121, 186, 0.02) 0%, rgba(12, 121, 186, 0.02) 100%), #FFF;
  padding: 24px 10% 120px 10%;
}

.content-box {
  padding: 79px 0 0 48px;
  /* border-radius: 8px; */
}
.content-box .icon {
  /* float: left; */
  margin-right: 10px;
  width: 75px;
}
.content-box h3 {
  margin-top: 44px;
  /* font-size: 24px; */
  color: #171717;

  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 125% */
  letter-spacing: -1.2px;
}
.content-box p {
  color: rgba(23, 23, 23, 0.50);
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36.667px; /* 152.778% */
  letter-spacing: -0.96px;
}
.content-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Channels Section */
.channels-section {
  padding: 30px 10% 120px 10%;
}

.channels-section .left-side {
  /* padding: 20px; */
}

.channels-section .background-text {
  border-radius: 66.667px;
  background: rgba(12, 121, 186, 0.10);
  padding: 20px 28.889px;
  gap: 11.111px;
  color: #0C79BA;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.778px;
  text-transform: capitalize;
  display: inline-block;

  /* font-size: 16px; */

}

.channels-section .heading {
  color: #171717;
  font-family: Urbanist;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 124%; /* 89.28px */
  letter-spacing: -2.16px;
  text-transform: capitalize;
  margin-top: 10px;
}

.channels-section .heading span {
  color: gray;
}

.channels-section p {
  color: #667085;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.889px; /* 160.494% */
  text-transform: capitalize;
}

.channels-section .icon-text {
  font-size: 20px;
  color: #171717;
  display: flex;
  align-items: left;
  justify-content: left;
  justify-items: left;
  margin-left: -20px;
  margin-bottom: 15px;
  font-family: Urbanist;
  /*  */
}

.channels-section .icon-text img {
  max-width: 100px;
  margin-bottom: -45px;
  /* margin-right: 10px; */
}

.channels-section .icon-text span {
  color: #171717;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.889px; /* 144.444% */
  text-transform: capitalize;
}

.channels-section .right-side img {
  max-width: 100%;
  margin-top: 9% !important;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Delivery Partners Section */

.delivery-partners-section {
  padding: 120px 10% 0 10%;
}

.section-heading {
  color: #171717;
  text-align: center;
  font-family: Urbanist;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 76.667px; /* 141.975% */
  letter-spacing: -1.62px;
}

.section-heading span {
  color: rgba(23, 23, 23, 0.5);
}

.section-description {
  color: rgba(23, 23, 23, 0.60);
  text-align: center;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 46.667px; /* 194.444% */
  letter-spacing: -0.48px;
}

.partner-box {
  max-width: 300px !important;
  background: #FFF;
  height: 100%;
  padding: 71px 0 !important;
  text-align: center;
  border-radius: 26.667px !important;
  margin: 0px 3% !important;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */ 
}

.partner-box .icon-container {
  background: unset !important;
}

.p-1 {
  border-radius: 26.667px !important;
  background: #FFF !important;
}

.partner-box:hover {
  box-shadow: 72px 24px 120px 0px rgba(0, 0, 0, 0.07);
}
.icon-container {
  background-color: lightblue;
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  margin-bottom: 15px;
}

.partner-box img {
  max-width: 40px;
  height: auto;
}

.partner-heading {
  color: #171717;
  text-align: center;
  font-family: Urbanist;
  font-size: 26.667px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 29.333px */
  letter-spacing: -1.067px;
}

.partner-description {
  color: rgba(23, 23, 23, 0.50);
  text-align: center;
  font-family: Urbanist;
  font-size: 17.778px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 26.667px */
  letter-spacing: -0.711px;
  padding: 0 35px;
}
.partner-description p{
  font-size: 5px !important;
  color: rgba(23, 23, 23, 0.5);
  text-align: center;
  font-family: Urbanist;
}
.partner-button button {
  color: #0c79ba;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.64px;
  border-radius: 100px;
  background: rgba(12, 121, 186, 0.1);
  padding: 17.778px 38.889px;
}
/* check*/
@media (min-width: 992px) {
  .col-md-3 {
    width: 25%;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-3 {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .col-md-3 {
    width: 100%;
  }
}

/*  Ignite Section*/

.ignite-section {
  
  
  padding: 120px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.ignite-icon {
  max-width: 155px;
  margin-bottom: 7px;
}

.ignite-heading {
  width: 70%;
  font-size: 88px;
  margin-bottom: 20px;
}

.ignite-heading-div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ignite-heading span {
  color: gray;
}

.ignite-text {
  color: #667085;
  text-align: center;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.889px; /* 160.494% */
  text-transform: capitalize;
  margin-bottom: 44px;
}

.ignite-button {
  border: 0;
  padding: 17.778px 38.889px;
  border-radius: 200.111px;
  background: linear-gradient(
    92deg,
    #0c79ba 1.56%,
    #1f97c9 51.7%,
    #12b4da 99.86%
  );
  color: #FFF;
  font-family: Urbanist;
  font-size: 17.778px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.667px;
  letter-spacing: -0.711px;
  cursor: pointer;

}
.model {
  padding: 40px 10% 0px 10%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.horizental{
  margin-top: 50px;
  margin-bottom: 50px;
}
.horizental-line{
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  color: black;
  border: 1px solid black;
}
.offering-box{
  margin-top: 30px !important;
  border-radius: 30px;
  padding: 0 12px;
}

.p-66 {
  padding: 66px 0 !important;
}

@media screen and (max-width: 457px) {
  .ignite-heading {
    font-size: 45px !important;
    font-weight: 500 !important;
    line-height: 54.9px !important; /* 54.9px */
    letter-spacing: -1.8px !important;
  }

  .ignite-text {
    font-size: 11.111px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 18.056px !important; /* 162.5% */
  }
  
  .banner-text h1{
    font-size: 70px !important;
  }

  .goal-box h4, p {
    padding: 0 !important;
  }

  .heading h1 {
    font-size: 33px !important;
  }

  .heading p {
    font-size: 15.278px !important;
    font-weight: 500 !important;
    line-height: 22.222px !important;
    letter-spacing: -0.306px !important;
    padding: 0px 25px !important;
  }

  .feature-box h3 {
    font-size: 25px !important;
    line-height: 31.25px !important; 
    letter-spacing: -0.75px !important;
  }

  .feature-box{
    font-size: 15px !important;
    line-height: 22px !important;
    letter-spacing: -0.611px !important;
  }

  .feature-box p {
    font-size: 15.278px !important; 
    font-weight: 500 !important;
    line-height: 22.917px !important;  
    letter-spacing: -0.611px !important;
  }

  .content-box h3 { 
    font-size: 25px !important;
    font-weight: 500 !important;
    line-height: 31.25px !important;
    letter-spacing: -0.75px !important;
  }

  .content-box p {
    font-size: 15.278px !important;
    font-weight: 500 !important;
    line-height: 22.917px !important;  
    letter-spacing: -0.611px !important;
  }

  .channels-section .heading {
    font-size: 45.833px !important;
    font-weight: 500 !important;
    line-height: 124% !important;
    letter-spacing: -1.375px !important;
  }

  .channels-section p {
    font-size: 11.111px !important;
    font-weight: 500 !important;
    line-height: 18.056px !important;
  }

  .section-heading {
    font-size: 33.333px !important;
    font-weight: 500 !important;
    line-height: 47.917px !important; 
    letter-spacing: -1px !important;
  }

  .section-description {
    font-size: 15.278px !important;
    font-weight: 500 !important;
    line-height: 29.167px !important;
    letter-spacing: -0.306px !important;
  }

  .partner-heading {
    font-size: 16.667px !important;
    font-weight: 500 !important;
    line-height: 110% !important; /* 18.333px */
    letter-spacing: -0.667px !important;
  }

  .partner-description {
    font-size: 11.111px !important; 
    font-weight: 500 !important;
    line-height: 150% !important; /* 16.667px */
    letter-spacing: -0.444px !important;
  }

  .footer-section h6 {
    font-size: 16.667px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 26.389px !important; /* 158.333% */
    letter-spacing: -0.667px !important;
  }

  .ignite-button {
    font-size: 11.111px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 16.667px !important;
    letter-spacing: -0.444px !important;
    padding: 11.111px 24.306px;
  }

  .ignite-icon {
    max-width: 115px !important;
  }

  .partner-button button {
    font-size: 11.111px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 16.667px !important;
    padding: 11.111px 24.306px !important;
    letter-spacing: -0.444px !important;
  }

  .partner-box {
    max-height: 300px !important;
    margin-bottom: 20px;
  }

  .channels-section .background-text {
    padding: 12.5px 18.056px !important;
    font-size: 12.5px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 11.111px !important;
  }

  .content-box .icon {
    max-width: 40px !important;
  }

  .feature-box .icon {
    max-width: 40px !important;
  }

  .goals-top-line span {
    font-size: 12.5px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 11.111px !important;
    padding: 12.5px 18.056px !important; 
  }
}