.row {
  --bs-gutter-x: 0 !important;
}
.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  background-image: url("src/assets/images/banner-background.png");
  background-size: cover;
}
.banner-text {
  flex: 1;
  padding: 20px;
  padding-left: 10%;
}
.banner-text h1 {
  color: #171717;

  font-family: Urbanist;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 116.667px; /* 93.333% */
  letter-spacing: -3.75px;
}

.banner-text h1 .gray {
  color: gray;
}
.banner-text p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
}
.banner-text .btn {
  color: #fff;
  font-size: 12px;
  font-family: Urbanist;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 26.67px;
  word-wrap: break-word;
  letter-spacing: -0.72px;
  background: linear-gradient(
    94deg,
    #0c79ba 0%,
    #1f97c9 56%,
    #12b4da 100%
  ) !important;
  border-radius: 111.11px;
  border: 1.11px solid;
  text-align: center !important;
  padding: 8px 25px 8px 25px !important;
}
.banner-image {
  flex: 1;
  text-align: center;
  padding: 20px;
}
.banner-image img {
  max-width: 100%;
  height: auto;
}
.fintech-icon {
  vertical-align: middle;
  width: 60px;
  height: auto;
  margin-left: 10px;
}
/* Goal  Section*/

.goals-section {
  padding: 0 10% 0 10%;
  background: linear-gradient(
      0deg,
      rgba(12, 121, 186, 0.02) 0%,
      rgba(12, 121, 186, 0.02) 100%
    ),
    #fff;
}

.goals-top-line {
  text-align: center;
  margin: 20px 0;
}
.goals-top-line span {
  background: rgba(12, 121, 186, 0.1);
  color: #0c79ba;
  padding: 15px 27px;
  font-size: 20px;
  font-weight: 600;
  line-height: 17.778px;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 66.667px;
}
.goals-heading {
  color: #171717;
  font-size: 53.33px;
  font-family: Urbanist;
  font-weight: 500;
  line-height: 76.67px;
  word-wrap: break-word;
  text-align: center;
}
.goals-paragraph {
  color: rgba(23, 23, 23, 0.6);
  text-align: center;
  font-family: Urbanist;
  font-size: 24.444px;
  font-style: normal;
  font-weight: 500;
  line-height: 35.556px;
  letter-spacing: -0.489px;
}
.goal-box {
  margin-left: 10px !important;
  padding: 0;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
}
.goal-box img {
   max-width: 300.778px;
  max-height: 300.889px;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px 8px 0 0;
}
.goal-box h4 {
  padding-left: 50px;
  font-size: 20px;
  margin-bottom: 10px;
}
.goal-box p {
  padding-left: 60px;
  font-size: 14px;
  color: #555;
  text-align: center;
}
/* Offering Section */
.offering-section {
  /* padding: 0 10%; */
  justify-content: center;
  justify-items: center;
  padding: 0px 10% 0px 10%;
}

.heading {
  text-align: center;
  margin-top: 40px;
}

.heading h1 {
  font-size: 36px;
  color: black;
}

.heading h1 span {
  color: gray;
}

.heading p {
  color: gray;
  font-size: 18px;
  margin-top: 10px;
}

.feature-box {
  max-width: 450.778px;
  max-height: 450.889px;
  background-color: #f8f9fa;
  padding: 20px;
  /* margin: 5px 0; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.feature-box .icon {
  margin-bottom: 10px;
  width: 50px;
}

.feature-box h3 {
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 500;
  color: #171717;
}

.feature-box p {
  color: rgba(23, 23, 23, 0.5);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 20px;
}

.feature-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: auto; /* Push the image to the bottom of the box */
}

/* content section */

.content {
  border-radius: 44.444px;
  background: linear-gradient(0deg, rgba(12, 121, 186, 0.02) 0%, rgba(12, 121, 186, 0.02) 100%), #FFF;
  margin: 120px 10% 0px 10%;
}

.content-box {
  padding: 20px;
  margin: 20px 0;
  /* border-radius: 8px; */
}
.content-box .icon {
  /* float: left; */
  margin-right: 10px;
  width: 50px;
}
.content-box h3 {
  margin-top: 0;
  /* font-size: 24px; */
  color: #171717;

  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 125% */
  letter-spacing: -1.2px;
}
.content-box p {
  /* color: gray;
  font-size: 16px;
  margin: 10px 0 20px 0; */
  color: rgba(23, 23, 23, 0.5);
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36.667px; /* 152.778% */
  letter-spacing: -0.96px;
}
.content-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Channels Section */
.channels-section {
  padding: 30px 10% 0 10%;
}

.channels-section .left-side {
  /* padding: 20px; */
}

.channels-section .background-text {
  color: #0c79ba;
  font-family: Urbanist;
  font-size: 13px;
  font-weight: 1000;
  display: inline-block;
  border-radius: 66.667px;
  padding: 9px 18px 9px 18px;
  background: rgba(12, 121, 186, 0.1);

  /* font-size: 16px; */

}

.channels-section .heading {
  color: #171717;
  font-family: Urbanist;
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 89.28px */
  letter-spacing: -2.16px;
  text-transform: capitalize;
  margin-top: 10px;
}

.channels-section .heading span {
  color: gray;
}

.channels-section p {
  color: rgba(23, 23, 23, 0.5);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  max-width: 90%;
}

.channels-section .icon-text {
  font-size: 20px;
  color: #171717;
  display: flex;
  align-items: left;
  justify-content: left;
  justify-items: left;
  margin-left: -20px;
  margin-bottom: 15px;
  font-family: Urbanist;
  /*  */
}

.channels-section .icon-text img {
  max-width: 100px;
  margin-bottom: -45px;
  /* margin-right: 10px; */
}

.channels-section .icon-text span {
  font-size: 17px;
  color: #667085;
  margin-top: 10px;
  font-family: Urbanist;
}

.channels-section .right-side img {
  max-width: 100%;
  margin-top: 9% !important;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Delivery Partners Section */

.delivery-partners-section {
  padding: 100px 10% 0 10%;
}

.section-heading {
  color: #171717;

  text-align: center;
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 69px; /* 143.75% */
  letter-spacing: -1.44px;
}

.section-heading span {
  color: rgba(23, 23, 23, 0.5);
}

.section-description {
  color: rgba(23, 23, 23, 0.6);

  text-align: center;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px; /* 190.909% */
  letter-spacing: -0.44px;
}

.partner-box {
  max-width: 300px !important;
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.partner-box:hover {
  box-shadow: 72px 24px 120px 0px rgba(0, 0, 0, 0.07);
}
.icon-container {
  background-color: lightblue;
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  margin-bottom: 15px;
}

.partner-box img {
  max-width: 40px;
  height: auto;
}

.partner-heading {
  color: #171717;

  text-align: center;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 26.4px */
  letter-spacing: -0.96px;
}

.partner-description {
  font-size: 13px;
  color: rgb(0 0 0 / 76%);
  text-align: center;
  font-family: Urbanist;
}
.partner-description p{
  font-size: 5px !important;
  color: rgba(23, 23, 23, 0.5);
  text-align: center;
  font-family: Urbanist;
}
.partner-button button {
  color: #0c79ba;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.64px;
  border-radius: 100px;
  background: rgba(12, 121, 186, 0.1);
  padding: 9px 18px 9px 18px;
}
.partner-button button {
  border-radius: 100px;
  background: rgba(12, 121, 186, 0.1);
}
/* check*/
@media (min-width: 992px) {
  .col-md-3 {
    width: 25%;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-3 {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .col-md-3 {
    width: 100%;
  }
}

/*  Ignite Section*/

.ignite-section {
  background-image: url("/assets/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ignite-icon {
  max-width: 115px;
  margin-bottom: 7px;
}

.ignite-heading {
  font-size: 28px;
  margin-bottom: 20px;
}

.ignite-heading span {
  color: gray;
}

.ignite-text {
  color: gray;
  font-size: 16px;
  margin-bottom: 20px;
}

.ignite-button {
  border-radius: 200.111px;
  background: linear-gradient(
    92deg,
    #0c79ba 1.56%,
    #1f97c9 51.7%,
    #12b4da 99.86%
  );
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 13px;
  font-family: Urbanist;
  font-weight: 1000;

}
.model {
  padding: 40px 10% 0px 10%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.horizental{
  margin-top: 50px;
  margin-bottom: 50px;
}
.horizental-line{
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  color: black;
  border: 1px solid black;
}
.offering-box{
  margin-top: 30px !important;
  border-radius: 30px;
}