<!-- <div class="container"> -->
<div class="header">
    <img src="/assets/images/logo.png" alt=" Logo">
    <!-- <div class="center-text">Coming Soon</div> -->
    <div style="color: #171717; font-size: 22.22px; font-family: Urbanist; font-weight: 500; line-height: 26.67px; word-wrap: break-word center-text">Coming Soon ⌛️</div>
    <!-- <button class="btn">Sign Up for Updates</button> -->
    
    <div class="header-button" style="background: linear-gradient(94deg, #0C79BA 0%, #1F97C9 56%, #12B4DA 100%);">
        <button class="btn">Sign-up for updates</button>
    </div>
</div>
<!-- </div> -->
<app-home></app-home>
<div class="footer"><app-footer></app-footer></div>