<!-- <div class="container"> -->
<div class="header">
    <img src="/assets/images/logo.png" alt=" Logo" class="logo-img">
    <!-- <div class="center-text">Coming Soon</div> -->
    <div class="header-center">
        <div class="header-center header-text">Coming Soon </div>
    <img class="soon-img" src="/assets/images/coming-Soon.png" alt="coming-soon">
   </div>
    <!-- <button class="btn">Sign Up for Updates</button> -->
    
    <div class="header-button">
        <button class="btn" (click)="openModal()">Sign-up for updates</button>
    </div>
</div>
<!-- </div> -->
<app-home></app-home>
<div class="footer"><app-footer></app-footer></div>

<div class="model">
    <app-model></app-model>
  </div>