<div class="container">
<div class="header">
    <img src="/assets/images/logo.png" alt=" Logo">
    <!-- <div class="center-text">Coming Soon</div> -->
    <div style="color: #171717; font-size: 22.22px; font-family: Urbanist; font-weight: 500; line-height: 26.67px; word-wrap: break-word center-text">Coming Soon ⌛️</div>
    <!-- <button class="btn">Sign Up for Updates</button> -->
    
    <div style="background: linear-gradient(94deg, #0C79BA 0%, #1F97C9 56%, #12B4DA 100%); border-radius: 111.11px; border: 1.11px solid; justify-content: center; align-items: center; gap: 8.89px; display: flex">
        <div class="p-2" style="color: white; font-size: 18px; font-family: Urbanist;">Sign-up for updates</div>
    </div>
</div>
</div>
<app-home></app-home>
<router-outlet></router-outlet>